h1{
  font-family:Arial;
}
body {
  width:100%;
  height:100%;
  min-height: 500px;
  padding-bottom: 40px;
  color: #5a5a5a;
  background-image:url("../img/Indianapolis.jpg");
  background-size:100% 100%;
}
.navbar-static-top {
  margin-bottom: 19px;
}
.brand{
  height:100%;
}
.navbar-brand img{
  height:110%;
}
.temp {
  font-weight:bold;
  font-size:24px;
}
.page-header{
  color:#000 !important;
}
.page-header small {
  color:#5a5a5a;
}
.cards{
  padding-bottom:10px;
}
.card{
  width:95%;
  margin:auto;
  text-align: center;
  border-radius:10px;
}
.card:hover{
  border: 1px solid #53a7ea;
  box-shadow: inset 0 0 0 5px #53a7ea;
  z-index:20;
  transition:all 0.3s ease;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 10px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-header a{
  padding-right:20px;
}
.navbar-header a img{
  height:50px;
  margin:2%;
  border-radius:4px;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
